body {
	background-color: black;
}
.main {
	background-color: white;
	margin-top: 50px;
	margin-bottom: 40px;
	padding-left: 50px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
}
.text-hadouken, .text-pose, .text-pose2 {
	font-size: 20px;
	color: white;
}
.text-hadouken {
	padding-right: 60px;
	text-align: center;
}
.text-pose2 {
	float: right;
}
.ryu {
	width: 550px;
	height: 494px;
}
.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool,
.ryu-ready2, .ryu-still2, .ryu-cool2, .ryu-throwing2 {
	width: 550px;
	height: 494px;
}
.ryu-ready, .ryu-throwing, .ryu-cool, .ryu-ready2, .ryu-throwing2, .ryu-cool2  {
	display: none;
}
.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}
.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}
.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}
.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}
.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: absolute;
	z-index: 10;
	top: 170px;
	left:600px;
}
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool, .ryu-still2,
 .ryu-ready2, .ryu-throwing2, .ryu-cool2, .hadouken2 {
	background-repeat: no-repeat;
}

.ryu2 {
	float:right;
	width: 550px;
	height: 494px;
	margin-top: -500px;
}
.ryu-still2, .ryu-ready2, .ryu-throwing2, .ryu-cool2, .hadouken2 {
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
}
.ryu-still2 {
	background-image: url(../images/ryu-standing-still2.png);
}
.ryu-ready2 {
	background-image: url(../images/ryu-ready-position2.gif);
}
.ryu-throwing2 {
	background-image: url(../images/ryu-throwing-hadouken2.png);
}
.ryu-cool2 {
	background-image: url(../images/ryu-cool2.gif);
}
.hadouken2 {
	background-image: url(../images/hadouken2.gif);
	z-index: 10;
	top: 165px;
	left: 660px;
	position: absolute;
	display: none;
	width: 156px;
	height: 90px;
}




